$backgroundColor: #6fccdd;
$textColor: #000000;
$grey: #B8B8B8;

html{
	background: white;
}
body, html, app, .card.big, .card-block, .card {
	background-size:cover;
	background-color:$backgroundColor;
	border-radius:20px;
	padding: 20px;

	.card {
		background-color: #70BF58;
	}

	.hidden {
		display: none;
	}

	.container {
		padding: 2rem;

		.view-container {
			display: flex;
			flex: 1;

			.card {
				flex: 1;
				margin: 0.5rem;


			}
		}

		.card.big {
			width: 100%;
			background-color: #5DC098;
			padding: 1rem;

			.card-block {
				background-color: white;
			}
		}
	}
}

body, html {
	min-height:100%;
}
.container {
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    border-padding: 50px;
    }